.skills-container{
    display: flex;
    flex-direction:column; 
    align-items: center;
    text-align: center;
    justify-content: center;
    max-width: 75rem;
    min-height: 100vh; 
    width: 100%;
    margin: 0 auto;
    padding: 2rem 1rem;
}

.title-skills {
    font-family: "Poppins", sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: #ff5fcf;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
}

.subtitle-skills {
    font-family: "Roboto", sans-serif;
    font-size: 1rem;
    color: #ffffff;
    line-height: 1.6;
    margin-bottom: 2rem;
}

.fw-bold {
    font-size: 1.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.tech-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.tech-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.tech-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.tech-icon-circle {
    font-size: 2rem;
    color: #32a0b1;
    transition: transform 0.3s ease, color 0.3s ease;
}

.tech-item:hover .tech-icon-circle {
    transform: scale(1.1);
    color: #60eaff;
}

.tech-label {
    font-size: 1rem;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    text-align: center;
}

@media (min-width: 220px) and (max-width: 640px) {
    .skills-container {
        padding: 4rem 1rem 2rem; 
        min-height: auto; 
    }

    .title-skills {
        font-size: 1.5rem; 
        margin-bottom: 0.5rem;
    }

    .subtitle-skills {
        font-size: 1rem;
        margin-bottom: 1.5rem;
    }

    .tech-icon-circle {
        font-size: 2rem;
    }

    .tech-label {
        font-size: 0.9rem;
    }
}

@media (max-width: 400px) {
    .skills-container {
        padding: 3rem 0.5rem 0rem; 
    }
    
    .title-skills {
        font-size: 1.5rem;
    }
    
    .subtitle-skills {
        font-size: 1rem;
    }
}