.footer {
 font-family: "Roboto", sans-serif;
  font-style: italic;
  background-color: #ff499e;
}

.footer-text {
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}
.footer-icons {
  max-width: 50%;
  display:flex ;
  gap: 1em;
  text-align: center;
  justify-content:center;
  align-items: center;
}

.footer-subtitle {
  color: white;
  font-size: 1rem;
  font-weight: 500;
  margin-top: 1em;
  text-align: end;
  font-family: "Roboto", sans-serif;
}

@media (min-width:200px) and (max-width:860px) {
  .footer-text {
    font-size: 1rem;
  }
  .footer-subtitle {
    font-size: 0.9rem;
  }
}
