.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  max-width: 75rem;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  padding: 2rem 1rem;
}
.title-about {
  font-family: "Poppins", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: #ff5fcf;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.subtitle-about {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  color: #ffdede;
  font-size: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}
.strong-about {
  color: #38bdf8;
  font-weight: 700;
  font-style: italic;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
  transition: color 0.3s ease;
}
.tech-card {
  transition: transform 0.3s ease;
}

.tech-card:hover {
  transform: translateY(-5px);
}

.imagen-about {
  border-radius: 10%;
  max-width: 25rem;
  width: 100%;
  height: auto;
  object-fit: contain;
  margin:3rem 0;
}

.button-redes {
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.btn-redes{
  font-size: 0.9rem;
  font-weight: 700;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.btn-cv {
  background-color: #e913b3;
  color: #ffffff;
  font-weight: 700;
  font-size: 0.9rem;
  font-family: "Poppins", sans-serif;
}

.btn-cv:hover {
  background-color: #d10fa5;
  box-shadow: 0 0 10px #ff64c9;
  color: #ffffff;
  font-weight: 700;
  transform: scale(1.05);
}

@media (min-width: 220px) and (max-width: 640px) {
  .row-about {
    flex-direction: row-reverse;
  }
  .title-about {
    font-size: 1.5rem; 
  }
  
  .subtitle-about {
    font-size: 1rem;
  }
  
  .imagen-about {
    max-width: 15rem;
  }
  
  .button-redes {
    flex-direction: column;
    gap: 0.5rem; 
  }
  
  .btn {
    width: 20vh;
    padding: 0.5rem; 
    font-size: 0.9rem;
  }
}
@media (min-width: 690px) and (max-width: 1340px) {
  .button-redes {
    width: 10vh;
  }
}